<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="John Kibocha" name="author">
    <meta content="This is the landing page for the Little Taco Shop Restaurant" name="description">
    <meta content="HTML, CSS, JavaScript" name="keywords">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="img/tacos_close_up_400x260.png" rel="shortcut icon" type="image/x-icon">
    <link href="css/style.css" rel="stylesheet">
    <title>Little Taco Shop</title>
</head>
<body>
<header>
    <h1>
        Welcome to Little Taco Shop
    </h1>
    <nav>
        <ul>
            <li><a href="#aboutLTS">About LTS</a></li>
            <li><a href="#ourMenu">Our Menu</a></li>
            <li><a href="storeHours.html">Store Hours</a></li>
            <li><a href="contactUS.html">Contact Us</a></li>
        </ul>
        <figure>
            <img alt="Tacos and A drink" height="267" src="img/tacos_and_drink_400x267.png" title="Tacos And A drink"
                 width="400">
            <figcaption>Tacos And A Drink</figcaption>
        </figure>
    </nav>
    <hr>
    <br>
</header>
<main>
    <article id="aboutLTS">
        <h2>About <abbr title="Little Taco Shop">LTS</abbr></h2>
        <section>
            <p><abbr title="Little Taco Shop">LTS</abbr> was founded in 2023. Our restaurant was built from a love of
                tacos
                🌮🌮🌮. We hope our shop adds a unique feel to our little town.</p>
        </section>
        <section>
            <h3>
                Taco Trivia
            </h3>

            <aside>

                <details>
                    <summary>
                        When did tacos first appear in Kenya

                    </summary>
                    <p>Tacos first appeared in kenya on Saturday, 18 August 2001 they were introduced by an American
                        called Michael Scott-field</p></details>
            </aside>
        </section>
    </article>
    <hr>
    <article id="ourMenu">
        <h2>Our Menu</h2>
        <table>
            <caption>Our Tacos</caption>
            <thead>
            <tr>

                <th scope="col">Tacos</th>
                <th scope="col"><abbr title="Quantity">Qty</abbr></th>
                <th scope="col">Price</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th rowspan="3" scope="row">Crunchy</th>
                <td>1</td>
                <td>$1.50</td>
            </tr>
            <tr>
                <td>2</td>
                <td>$2.50</td>
            </tr>
            <tr>
                <td>3</td>
                <td>$3.50</td>
            </tr>
            <tr>
                <th rowspan="3" scope="row">Soft</th>
                <td>1</td>
                <td>$2.50</td>
            </tr>
            <tr>
                <td>2</td>
                <td>$3.50</td>
            </tr>
            <tr>
                <td>3</td>
                <td>$4.50</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="2">Chips & Salsa</td>
                <td>$2.00</td>
            </tr>
            </tfoot>
        </table>
    </article>
    <br>
    <hr>
<br>
    <a href="#">Back to Top</a>
</main>
<footer>
<p>Copyright &copy; The Little Taco Shop</p>
</footer>

</body>
</html>