<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="author" name="John Kibocha">
    <meta content="description"
          name="This is the store hours page that describes the hours available by the restaurant">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="examples/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="css/style.css" rel="stylesheet">
    <title>Store Hours</title>
</head>
<body>
<header>
    <article id="storeHours">
        <h1>
            Little Taco Shop Hours
        </h1>
        <nav aria-labelledby="storeHoursNavigation">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="index.html#aboutLTS">About <abbr title="Little Taco Shop">LTS</abbr></a></li>
                <li><a href="index.html#ourMenu">Our Menu</a></li>
                <li><a href="contactUS.html">Contact Us</a></li>
            </ul>
        </nav>
        <figure>
            <img alt="A tray of tacos" height="267" src="img/tacos_tray_400x267.png" title="A tray of tasty tacos"
                 width="400">
            <figcaption>A tray of tasty tacos</figcaption>
        </figure>
    </article>
    <br>
    <hr>
    <br>
</header>

<main>
    <article>
        <p>We are open seven days a week</p>
        <dl>
            <dt>Sunday - Thursday</dt>
            <dd>
                <time datetime="11:00">11:00 AM</time>
                -
                <time datetime="21:00">09:00 PM</time>
            </dd>
            <dt>Friday - Saturday</dt>
            <dd>
                <time datetime="11:00">11:00 AM</time>
                -
                <time datetime="23:00">11:00 PM</time>
            </dd>
        </dl>
    </article>
    <br>
    <article>
        <a href="#">Back To Top</a>
    </article>
    <br>
    <hr>
</main>

<footer>

    <footer>
        <p>Copyright &copy; The Little Taco Shop</p>
    </footer>
</footer>

</body>
</html>